@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: #2D3440;
  background-color: #FEAFC3;
}

.page-header a {
  line-height: 20px;
  color: #2D3440;
  text-align: center;
  text-decoration: none;
}

.navigation-link-phone {
  font-weight: 700;
}

.slider-text {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.slider-text-description {
  font-size: 18px;
  line-height: 24px;
}

.button-present {
  font-weight: 700;
  text-align: center;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 26px;
  text-decoration: none;
}

.present-heading {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.present-name {
font-size: 24px;
font-weight: 700;
line-height: 30px;
}

.present-wrapper {
  background-color: #FF7799;
  border-radius: 16px;
}

.product-card-image {
  border-radius: 50%;
  align-items: center;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #2D3440;
}

.product-card-text {
  text-align: center;
  color: #565C66;
}

.product-card-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.advantages {
  background-image: url("../images/advantages/wafel.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
  padding: 24px;
}

.advantages-wrapper {
  padding: 56px 40px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.advantages-title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.blog {
  background-image: url("../images/blog.jpg");
  background-repeat: no-repeat;
}

.blog-content {
  text-decoration: none;
}

.blog-text {
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.blog-text-title {
 font-size: 24px;
 font-weight: 700;
 line-height: 30px;
 color: #2D3440;
}

.link-list-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.newsletter {
  background-image: url("../images/stripe.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
}

.newsletter-wrapper {
  padding: 26px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.contacts-user {
  background-image: url("../images/ice-cream-and-fruits.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
}

.contacts-user-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.contacts-user-text {
  color: #565C66;
}

.delivery-description {
  color: #565C66
}

.delivery-description-date {
  font-weight: 700;
}

.delivery-description-phone {
  font-weight: 700;
}

.delivery-description-address {
  font-weight: 700;
}

.contacts {
  background-image: url("../images/ice-cream-with-wafel-rolls.jpg");
  padding: 64px 763px 64px 64px;
  border-radius: 16px;
  background-repeat: no-repeat;
}

.contacts-title {
  color: #565C66;
}

.contacts-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #2D3440;
}

.contacts-link {
  color: #2D3440;
  text-decoration: none;
}

.note {
  font-size: 14px;
  color: #565C66;
}

.contacts-item {
  border-radius: 8px;
  background-color: #FCFCFC;
}

.header-inner-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.breadcrumbs {
  font-size: 14px;
  font-weight: 700;
}

.breadcrumbs-link {
  color: #2D3440;
  text-decoration: none;
}

.breadcrumbs-link-page {
  text-decoration: underline;
}

.catalog-filter-title {
  font-size: 14px;
}

.catalog-filter-item {
  font-size: 14px;
}

.button {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: #FCFCFC 30%;
  border-radius: 20px;
}

.button-pagination-show-more {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 26px;
  background-color: #FCFCFC;
}
