@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1366px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: #2D3440;
  background-color: var(--page-bg, #FEAFC3); /* js меняет значение --page-bg */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 1170px;
  margin: 0 auto;
}

.header-logo {
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 5px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  margin: 0 0 5px;
  padding: 0;
  align-items: center;
  gap: 16px;
  display: flex;
  margin-left: auto;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  border-radius: 30px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.navigation-link-current {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.navigation-item:hover .navigation-link-icon,
.navigation-item:hover .navigation-link-catalog,
.navigation-item:focus-within .navigation-link-icon,
.navigation-item:focus-within .navigation-link-catalog {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.navigation-item:hover .navigation-link-icon:hover,
.navigation-item:hover .navigation-link-catalog:hover,
.navigation-item:focus-within .navigation-link-icon:hover,
.navigation-item:focus-within .navigation-link-catalog:hover {
  opacity: 0.6;
}

.navigation-item:hover .navigation-link-icon:active,
.navigation-item:hover .navigation-link-catalog:active,
.navigation-item:focus-within .navigation-link-icon:active,
.navigation-item:focus-within .navigation-link-catalog:active {
  opacity: 0.3;
}

.navigation-item:hover .navigation-link-icon:focus-visible,
.navigation-item:hover .navigation-link-catalog:focus-visible,
.navigation-item:focus-within .navigation-link-icon:focus-visible,
.navigation-item:focus-within .navigation-link-catalog:focus-visible {
  outline: #2D3440;
}

.navigation-user .navigation-link {
  padding-block: 6px;
  background-color: rgba(252, 252, 252, 0.3);
  font-size: 14px;
  line-height: 20px;
}

.navigation-link-search {
  padding: 10px 8px;
}

.navigation-link-phone {
  display: block;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

.navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.navigation-icon-arrow {
  fill: currentColor;
}

.navigation-item:hover .navigation-icon-arrow,
.navigation-item:focus-within .navigation-icon-arrow {
  transform: scaleY(-1) translateY(-3px);
}

.navigation-icon {
  fill: currentColor;
}

.navigation-link-icon:active {
  background: #FF4A78;
  color: #FCFCFC;
}

.navigation-link-search:active {
  background: #FF4A78;
  color: #FCFCFC;
}

.popover {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 48px;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  opacity: 0;
  pointer-events: none;
  margin-top: 8px;
  transition: opacity 0.3s ease-in-out;
}

.popover::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  height: 8px;
}

.popover-catalog {
  padding: 8px 0;
  left: 0;
  right: auto;
}

.navigation-item:hover .popover,
.navigation-item:focus-within .popover,
.popover-open {
  opacity: 1;
  pointer-events: all;
}

.popover-catalog-title {
  margin: 0 16px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #B9B9B9;
}

.popover-catalog-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 4px;
  list-style-type: none;
}

.popover-catalog-link {
  text-decoration: none;
  color: currentColor;
  display: block;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
}

.popover-catalog-link[href]:hover {
  background-color: #FFCBD8;
}

.popover-catalog-link[href]:active {
  background-color: #FF7799;
}

.popover-catalog-link-current {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.popover-content {
  display: grid;
  gap: 32px;
}

/* Стили для пустой корзины
.popover-empty {
  width: 288px;
  min-height: 156px;
  display: grid;
  justify-items: center;
} */

.basket-list {
  padding: 0;
}

.basket-item {
  display: grid;
  grid-template-columns: 46px 200fr 120fr 16px;
  gap: 16px;
  align-items: center;
}

.basket-item + .basket-item {
  padding-top: 24px;
}

.popover-login {
  width: 420px;
  display: grid;
  gap: 32px;
}

.form-links {
  display: grid;
  grid-template-columns: 113px 1fr;
  gap: 23px;
  margin-top: 22px;
}

.form-links-list {
  color: #2D3440;
  font-size: 14px;
}

.basket-item-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2D3440;
  margin: 0;
  margin-bottom: 4px;
}

.basket-item-text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.basket-item-price {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.basket-item-button {
  background-image: url("../images/catalog/X-bold.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #FCFCFC;
  min-height: 16px;
  cursor: pointer;
}

.total-price-wrapper {
  display: grid;
  grid-template-columns: 198px 115px;
  gap: 32px;
  align-items: center;
  padding-top: 32px;
  border-top: 1px solid #e7e7e7;
}

.main-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.slider-wrapper {
  overflow-x: hidden;
}

.slider {
  position: relative;
}

.slider-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.slider-list-item {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 25px;
  visibility: hidden;
}

.slider-list-item-current {
  visibility: visible;
}

.slider-images-text {
  padding-left: 70px;
  width: 450px;
  flex-shrink: 0;
}

.slider-text {
  margin-top: 14px;
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.slider-text-description {
  margin: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.slider-image {
  padding-top: 16px;
}

.slider-image-wrapper {
  position: relative;
}

.slider-image-wrapper::before {
  content: "";
  width: 327px;
  height: 312px;
  border-radius: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
  margin-top: 8px;
}

.slider-pagination-item {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 8px;
}

.slider-image-buttons {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 40px;
  margin-left: 33px;
  margin-top: 16px;
}

.slider-image-button {
  position: relative;
  width: 100px;
  height: 150px;
  background: transparent;
  border: none;
  opacity: 0.4;
  background-size: contain;
  background-repeat: no-repeat;
  outline-offset: -2px;
}

.slider-image-button::before {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  z-index: -1;
}
.slider-image-button-2 {
  background-image: url("../images/gallery/ice-cream-gallery-2.png");
}

.slider-image-button-3 {
  background-image: url("../images/gallery/ice-cream-gallery-3.png");
}

.slider-image-button-1 {
  background-image: url("../images/gallery/ice-cream-gallery-1.png");
}

.wrapper {
  display: flex;
  margin-top: -3px;
}

.slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 26px;
  border: 2px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #FCFCFC;
  outline: none;
}

.slider-control:hover {
  background: #FCFCFC;
  color: #2D3440;
}

.slider-control:active {
  background: rgba(252, 252, 252, 0.5);
  color: #2D3440;
  border: none;
}

.slider-control:disabled {
  opacity: 0.4;
}

.slider-control:focus-visible {
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.slider-prev {
  left: 525px;
}

.slider-next {
  left: 853px;
}

.slider-arrow {
  fill: currentColor;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  margin-right: auto;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 100px;
  border: none;
  outline: none;
}

.slider-pagination-button:hover {
  background: rgba(252, 252, 252, 0.5);
}

.slider-pagination-button:focus-visible {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
}

.slider-pagination-button:active {
  background: #FCFCFC;
  opacity: 0.5;
}

.slider-pagination-button-current {
  background: #FCFCFC;
}

.social {
  margin-right: auto;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 16px;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  color: #FCFCFC;
  border-radius: 50%;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.social-link::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-color: currentColor;
  background-repeat: no-repeat;
}

.social-tg::before {
  -webkit-mask-image: url("../images/social/telegram.svg");
  mask-image: url("../images/social/telegram.svg");
}

.social-vk::before {
  -webkit-mask-image: url("../images/social/vk.svg");
  mask-image: url("../images/social/vk.svg");
}

.social-youtube::before {
  -webkit-mask-image: url("../images/social/youtube.svg");
  mask-image: url("../images/social/youtube.svg");
}

.social-link:hover,
.social-link:active {
  background: #2D3440;
  outline-color: rgba(252, 252, 252, 0.5);
}

.social-link:active {
  opacity: 0.5;
}

.social-link:focus-visible {
  background: #2D3440;
  outline-color: #2D3440;
}

.social-list-first {
  justify-content: flex-end;
}

.present-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.present-list-item {
  display: grid;
  gap: 28px;
  padding: 36px 200px 36px 36px;
  background-color: #FF7799;
  border-radius: 16px;
}

.present-list-item-one-background {
  background-image: url("../images/razz.png");
  background-repeat: no-repeat;
  background-position: right;
}

.present-list-item-two-background {
  background-image: url("../images/marshmallow.png");
  background-repeat: no-repeat;
  background-position: right;
}

.present-heading {
  width: 534px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  margin-bottom: 55px;
  margin-top: 78px;
}

.present-name {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.present-text {
  margin: 0;
}

.products-title {
  width: 527px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  padding-top: 81px;
  padding-bottom: 54px;
}

.present-button {
  justify-content: start;
  margin-right: auto;
}

.products-column {
  padding: 44px 98px 16px 98px;
}

.product-cards {
  margin: 0;
  padding: 0;
  padding-top: 52px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px 30px;
}

.product-cards-main {
  margin-bottom: 80px;
}

.product-cards-catalog {
  margin-bottom: 16px;
}

.product-card-item {
  display: grid;
  grid-template-columns: 1fr 32px;
  background-color: #FCFCFC;
  border-radius: 8px;
  padding: 24px 40px;
  align-items: center;
}

.product-card-image {
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  margin-top: -75px;
}

.product-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
  text-align: center;
  display: block;
}

.product-card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #2D3440;
  margin-top: 11px;
  margin-bottom: 8px;
}

.product-card-text {
  text-align: center;
  color: #565C66;
  margin-top: 0;
  margin-bottom: 16px;
}

.product-card-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.product-card-button {
  display: flex;
  background-color: #FF2F64;
  color: #FFFFFF;
  width: 32px;
  height: 32px;
  border-radius: 26px;
  border: none;
}

.product-card-button::before {
  content: "";
  margin: auto;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  -webkit-mask-image: url("../images/basket.svg");
  mask-image: url("../images/basket.svg");
}

.product-card-button:hover {
  background-color: #FCFCFC;
  color: #2D3440;
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
}

.product-card-button::before:hover {
  content: "";
  background-color: currentColor;
  -webkit-mask-image: url("../images/basket.svg");
  mask-image: url("../images/basket.svg");
}

.product-card-button:active {
  background-color: #FFCBD8;
  outline: 2px solid #FF2F64;
  outline-offset: -2px;
  color: #2D3440;
}

.product-card-button:active::before {
  content: "";
  background-color: currentColor;
  -webkit-mask-image: url("../images/basket.svg");
  mask-image: url("../images/basket.svg");
}

.product-card-button:focus-visible {
  background-color: #FF2F64;
  color: #FCFCFC;
  outline: 2px solid #2D3440;
  outline-offset: -2px;
}

.product-card-button:disabled {
  background-color: #B9B9B9;
  color: #565C66;
}

.product-card-button::before:disabled {
  content: "";
  background-color: currentColor;
  -webkit-mask-image: url("../images/basket.svg");
  mask-image: url("../images/basket.svg");
}

.product-card-button::before:focus-visible {
  content: "";
  background-color: currentColor;
  -webkit-mask-image: url("../images/basket.svg");
  mask-image: url("../images/basket.svg");
}

.advantages {
  background-image: url("../images/advantages/wafel.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  margin-bottom: 78px;
}

.advantages-wrapper {
  padding: 56px 40px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.advantages-title {
  margin: 0;
  margin-bottom: 58px;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  gap: 40px 32px;
  list-style-type: none;
}

.advantages-item {
  display: grid;
  grid-template-columns: 48px 442px;
  gap: 16px;
}

.advantages-item::before {
  content: "";
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

.advantages-content-picture-ice-cream::before {
  background-image: url("../images/advantages/ice-cream.svg");
}

.advantages-content-picture-cow::before {
  background-image: url("../images/advantages/cow.svg");
}

.advantages-content-picture-leaf::before {
  background-image: url("../images/advantages/leaf.svg");
}

.advantages-content-picture-thermometer::before {
  background-image: url("../images/advantages/thermometer.svg");
}

.advantages-description {
  margin: 0;
  color: #565C66;
}

.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

.blog {
  background-image: url("../images/blog.jpg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 32px 235px 67px 32px;
}

.blog-content {
  text-decoration: none;
}

.blog-text {
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 13px;
}

.blog-text-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
}

.newsletter {
  background-image: url("../images/stripe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 6px;
}

.newsletter-wrapper {
  display: grid;
  grid-column: 1 / -1;
  padding: 26px;
  border-radius: 16px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  width: 558px;
}

.newsletter-text {
  margin: 0;
  margin-bottom: 45px;
  color: #565C66;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 1fr 152px;
  gap: 18px;
}

.field {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: #B9B9B9;
  padding: 14px 16px;
  line-height: 20px;
  border-radius: 4px;
  outline: 1px solid #B9B9B9;
  background: #FFFFFF;
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline-offset: -1px;
}

.field:focus-visible {
  color: #2D3440;
  outline: 2px solid #2D3440;
  outline-offset: -2px;
}

.field:hover {
  outline: 1px solid #2D3440;
  outline-offset: -1px;
}

.field:not(:placeholder-shown):invalid,
.field.error {
  box-shadow: none;
  outline: 1px solid #EA5454;
  outline-offset: -1px;
}

.field:not(:placeholder-shown):hover:invalid,
.field.error:hover {
  outline: 2px solid #EA5454;
  outline-offset: -2px;
  color: #2D3440;
}

.field:disabled,
.field:disabled:hover {
  outline: 1px solid #B9B9B9;
  outline-offset: -1px;
}

.field::placeholder {
  color: #B9B9B9;
  opacity: 1;
}

.form-wrapper {
  border-radius: 8px;
  background-color: #FCFCFC;
  width: 500px;
}

.contacts-user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("../images/ice-cream-and-fruits.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 42px;
  padding: 63px;
  padding-left: 100px;
  margin-bottom: 80px;
}

.contacts-user-content {
  display: grid;
  align-content: center;
  gap: 24px;
}

.delivery-form {
  grid-template-columns: 117px 287px;
  margin: 0;
  padding: 40px;
  display: grid;
  gap: 33px 16px;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.contacts-user-title {
  color: #2D3440;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  margin-top: 7px;
}

.contacts-user-text {
  color: #565C66;
  margin: 0;
  width: 371px;
}

.form-description {
  grid-column: 1 / -1;
  color: #565C66;
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 700;
  gap: 8px;
}

.form-group.form-group-full {
  grid-column: 1 / -1;
  margin-top: -15px;
}

.form-button {
  grid-column: 1 / -1;
  justify-self: center
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  width: 14px;
  height: 14px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  color: inherit;
}

.tooltip-text {
  color: #565C66;
  background-color: #FCFCFC;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  padding: 10px 15px 10px 8px;
  border-radius: 3px;
  width: 146px;
  bottom: 100%;
  position: relative;
  margin-left: 22px;
  margin-top: -11px;
  display: none;
  stroke: #B9B9B9;
  border: 1px solid #B9B9B9;
  filter: drop-shadow(0 4px 8px rgba(194, 194, 194, 0.20));
  z-index: 1;
}

.tooltip-text::before {
  content: "";
  border-left: inherit;
  border-bottom: inherit;
  background-color: inherit;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  position: absolute;
  top: 12px;
  left: -5px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus-visible + .tooltip-text {
  display: block;
}

.contacts {
  background-image: url("../images/ice-cream-with-wafel-rolls.jpg");
  padding: 66px 763px 63px 64px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-wrapper {
  background-color: #FCFCFC;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.contacts-list {
  margin-top: -2px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
}

.contacts-text {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #2D3440;
}

.contacts-text-adress {
  margin-bottom: 24px;
}

.contacts-link {
  color: #2D3440;
  text-decoration: none;
}

.note {
  font-size: 14px;
  color: #565C66;
  font-weight: 400;
  margin: 0;
}

.contacts-item {
  border-radius: 8px;
  background-color: #FCFCFC;
}

.page-footer {
  padding-top: 50px;
  padding-bottom: 40px;
  margin: auto;
  width: 1170px;
}

.page-footer-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.link-list {
  display: grid;
  grid-template-columns: 150px 1fr;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-left: 20px;
  gap: 5px 0;
}

.link-list-item {
  margin: 0;
  padding: 0;
}

.link-list-link {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.link-list-lead {
  font-weight: 700;
  display: grid;
  gap: 8px;
  grid-template-columns: 16px 1fr;
  transform: translateX(-22px);
}

.link-list-lead::before {
  content: "";
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  margin-top: 2px;
  width: 16px;
  height: 16px;
}

.link-list-link-decor {
  margin-top: 2px;
}

.footer-link {
  display: grid;
  margin-left: auto;
  max-width: 193px;
  align-content: start;
  gap: 8px;
}

.popover-search {
  padding: 24px 16px;
}

.search {
  position: relative;
}

.search-field {
  min-width: 324px;
}

.search-reset {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  display: none;
  background-color: transparent;
  border: none;
  background-image: url("../images/reset.svg");
  width: 16px;
  height: 16px;
}

.field::-webkit-search-decoration,
.field::-webkit-search-cancel-button,
.field::-webkit-search-results-button,
.field::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search-field:not(:placeholder-shown) + .search-reset {
  display: block;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-hidden {
  display: none;
}

.modal {
  width: 570px;
  position: relative;
  margin: auto;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.form {
  display: grid;
  gap: 13px;
}

.modal-content {
  padding: 64px;
  display: grid;
  gap: 32px;
}

.field-group-popover {
  margin: 0;
}

.modal-close-button {
  position: absolute;
  padding: 44px;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #FCFCFC;
  border: none;
  background-image: url("../images/catalog/X-bold.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popover-title {
  margin: 0;
  font-family: inherit;
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
  color: #2D3440;
  padding: 0;
}

.field-multiline {
  min-height: 149px;
}

.copyright {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.copyright a {
  color: currentColor;
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
  text-decoration: none;
}

.button-modal {
  margin-top: 16px;
  justify-content: end;
  margin-left: auto;
}

.header-inner {
  margin-top: -5px;
  margin-bottom: 40px;
}

.header-inner-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 16px;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 20px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  background-image: url("../images/arrow/right-2.svg");
  height: 12px;
  width: 12px;
  margin-left: 8px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-page {
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
  text-decoration: none;
}

.range-scale {
  margin: auto;
  position: relative;
  height: 2px;
  background-color: rgba(87, 92, 102, 0.3);
  border-radius: 2px;
  width: 100%;
  min-width: 164px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #2D3440;
}

.range-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-color: #FCFCFC;
  border: 6px solid #2D3440;
}

.range-toggle:hover {
  background-color: #2D3440;
  border: 6px solid #FCFCFC;
}

.range-toggle:active {
  background: #2D3440;
}

.form-price {
  display: flex;
}

.catalog-filter-label {
  margin: 0;
  padding: 0;
}

.range-input {
  padding: 0;
  margin: 0;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
  color: inherit;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  column-gap: 24px;
  margin-bottom: 44px;
}

.catalog-filter-group {
  align-self: flex-end;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin: 0 15px 10px;
}

.control {
  display: flex;
  gap: 8px;
  line-height: 20px;
}

.control-input {
  flex-shrink: 0;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  margin: 0;
}

.control-input[type="checkbox"] {
  -webkit-mask-image: url("../images/control/checkbox.svg");
  mask-image: url("../images/control/checkbox.svg");
}

.control-input[type="checkbox"]:checked {
  -webkit-mask-image: url("../images/control/checkbox-checked.svg");
  mask-image: url("../images/control/checkbox-checked.svg");
}

.control-input[type="radio"] {
  -webkit-mask-image: url("../images/control/radio.svg");
  mask-image: url("../images/control/radio.svg");
}

.control-input[type="radio"]:checked {
  -webkit-mask-image: url("../images/control/radio-checked.svg");
  mask-image: url("../images/control/radio-checked.svg");
}

.control-input:hover {
  background-color: #FCFCFC;
}

.control-input:disabled {
  opacity: 0,5;
}

.catalog-filter-body {
  display: flex;
  background: rgba(252, 252, 252, 0.30);
  border-radius: 18px;
  min-height: 20px;
  margin: 0;
  padding: 8px 18px;
}

.range-wrapper-inputs {
  margin-left: 18px;
}

.catalog-filter-selected {
  padding-right: 52px;
}

.catalog-filter-list {
  flex-wrap: wrap;
  list-style-type: none;
  padding: 8px 23px;
  gap: 17px;
  align-items: center;
}

.select-control {
  border: none;
  color: inherit;
  font: inherit;
  appearance: none;
  background-image: url("../images/arrow/down.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.select-control:focus-visible {
  border: #FCFCFC;
  border-radius: 20px;
}

.catalog-filter-button {
  align-self: flex-end;
}

.page-footer-container-inner {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
  padding-top: 39px;
}

.pagination-show-more {
  justify-self: center;
  grid-column-start: 2;
  margin-left: -15px;
  max-width: 179px;
}

.pagination-container {
  align-items: center;
  display: grid;
  padding-top: 41px;
  padding-bottom: 41px;
  gap: 60px;
  grid-template-columns: repeat(3, 1fr);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-self: end;
}

.pagination-item {
  position: relative;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #2D3440;
  height: 24px;
  min-width: 24px;
  text-align: center;
  border-radius: 12px;
  border: none;
}

.pagination-prev {
  background-image: url("../images/arrow/left.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
}

.pagination-ring {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}

.pagination-prev,
.pagination-next {
  position: relative;
}

.pagination-next {
  background-image: url("../images/arrow/right.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  margin-left: 3px;
}

.pagination-link:focus-visible {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
  outline-offset: -1px;
}

.pagination-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.pagination-link:active {
  background: rgba(252, 252, 252, 0.5);
  outline: 1px solid #FCFCFC;
  outline-offset: -1px;
}

.pagination-disabled {
  opacity: 0.3;
  background-image: url("../images/arrow/left.svg");
}

.pagination-current {
  background-color: #FCFCFC;
}

.button {
  border: none;
  font: inherit;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 32px;
  line-height: 20px;
  text-decoration: none;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background: #FCFCFC;
  color: #2D3440;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  outline: 4px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.4);
}

.button:active {
  outline: 2px solid #2D3440;
  background: #FCFCFC;
}

.button:disabled {
  outline: 4px solid rgba(252, 252, 252, 0.40);
  background: #E7E7E7;
}

.button:focus-visible {
  outline: 2px solid #2D3440;
  background: rgba(252, 252, 252, 0.5);
}

.button-important {
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #FF2F64;
  color: #FCFCFC;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  outline-offset: -2px;
}

.button-important:hover {
  outline: 4px solid #FF2F64;
  background: rgba(252, 252, 252, 0.3);
  color: #2D3440;
}

.button-important:active {
  outline: 2px solid #2D3440;
  background-color: #FEAFC3;
  color: #FCFCFC;
}

.button-important:disabled {
  outline: 4px solid rgba(185, 185, 185, 0.3);
  background: #B9B9B9;
}

.button-important:focus-visible {
  outline: 2px solid #2D3440;
  background: #FF2F64;
}

.button-secondary {
  cursor: pointer;
  font-size: 14px;
  padding: 8px 32px;
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FCFCFC;
  min-width: 185px;
}

.button-secondary:disabled {
  outline: 2px solid #FCFCFC;
  opacity: 0.4;
  background: rgba(252, 252, 252, 0.3);
}

.contacts-button {
  margin-top: 30px;
}

.form-login-button {
  margin: 0;
}
