@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 8px 16px;
  text-align: center;
}

.navigation-catalog {
  padding-right: 38px
}

.navigation-link-catalog {
  padding-right: 38px;
  background-image: url("../images/arrow/down.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center right 16px;
}

.navigation-link:hover {
  background-color: #FCFCFC;
  background: rgba(252, 252, 252, 0.50);
  border-radius: 30px;
}

.navigation-link:focus {
  background-color: #FCFCFC;
  background: rgba(252, 252, 252, 0.50);
  border-radius: 30px;
  border: 2px solid #2D3440;
}

.navigation-link-login {
  padding-left: 38px;
}

.navigation-link-login .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.navigation-link-basket {
  padding-left: 38px;
}

.navigation-link-basket .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.navigation-user {
  align-items: center;
  gap: 16px;
  display: flex;
  margin-left: auto;
  list-style-type: none;
  fill: #2D3440
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-user .navigation-link {
  background-color: rgba(252, 252, 252, 0.30);
  border-radius: 30px;
}

.header-logo {
  width: 137px;
  margin-right: 16px;
}

.page-header a {
  line-height: 20px;
  color: #2D3440;
  text-align: center;
  text-decoration: none;
}

.navigation-link-phone {
  display: block;
  font-weight: 700;
}

.main-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.slider-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  overflow-x: hidden
}

.slider-list-item {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
}

.slider-image {
  padding: 21px 0 26px 0;
}

.slider-text {
  margin: 0;
  margin-top: 136px;
  margin-bottom: 24px;
  width: 470px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.slider-text-description {
  margin: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 26px;
  border: 2px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.30);
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background: rgba(252, 252, 252, 0.30);
  border-radius: 100px;
  border: none;
}

.slider-pagination-button:focus {
  background: #FCFCFC;
}

.slider-pagination-button:hover {
  background: rgba(252, 252, 252, 0.50);
}

.social-link {
  margin-right: 16px;
  display: block;
  width: 24px;
  height: 24px;
}

.social-list-first {
  justify-content: flex-end;
}

.social-link::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-color: #FCFCFC;
}

.social-tg::before {
  color: currentColor;
  -webkit-mask-image: url("../images/social/telegram.svg");
  mask-image: url("../images/social/telegram.svg");
}

.social-vk::before {
  color: currentColor;
  -webkit-mask-image: url("../images/social/vk.svg");
  mask-image: url("../images/social/vk.svg");
}

.social-youtube::before {
  color: currentColor;
  -webkit-mask-image: url("../images/social/youtube.svg");
  mask-image: url("../images/social/youtube.svg");
}

.present-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  gap: 30px;
}

.present-list-item {
  padding: 36px 200px 36px 36px;
  background-color: #FF7799;
  border-radius: 16px;
}

.present-heading {
  width: 534px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  padding-bottom: 55px;
}

.present-name {
  margin: 0;
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.present-text {
  margin: 0;
  margin-bottom: 28px;
}

.products-title {
  width: 527px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 56px;
}

.present-button {
  align-self: start;
}

.products-column {
  padding: 44px 98px 16px 98px;
}

.product-cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 80px;
  gap: 90px 30px;
}

.product-card-item {
  display: grid;
  grid-template-columns: 1fr 32px;
  gap: 16px;
  background-color: #FCFCFC;
  border-radius: 8px;
  padding: 24px 40px;
  align-items: center;
}

.product-card-image {
  border-radius: 50%;
}

.product-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
  text-align: center;
  display: block;
}

.product-card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #2D3440;
  margin-top: 16px;
  margin-bottom: 8px;
}

.product-card-text {
  text-align: center;
  color: #565C66;
  margin-top: 0;
  margin-bottom: 16px;
}

.product-card-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.product-card-button {
  display: flex;
  background-color: #FF2F64;
  color: #FFFFFF;
  width: 32px;
  height: 32px;
  border-radius: 26px;
}

.product-card-button::before {
  content: "";
  margin: auto;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  -webkit-mask-image: url("../images/basket.svg");
  mask-image: url("../images/basket.svg");
}

.advantages {
  background-image: url("../images/advantages/wafel.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  margin-bottom: 80px;
}

.advantages-wrapper {
  padding: 56px 40px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.advantages-title {
  margin: 0;
  margin-bottom: 56px;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  gap: 40px 32px;
  list-style-type: none;
}

.advantages-description {
  margin: 0;
}

.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

.blog {
  background-image: url("../images/blog.jpg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 32px 235px 67px 32px;
}

.blog-content {
  text-decoration: none;
}

.blog-text {
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.blog-text-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
}

.newsletter {
  background-image: url("../images/stripe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 6px;
}

.newsletter-wrapper {
  display: grid;
  grid-column: 1 / -1;
  padding: 26px;
  border-radius: 16px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  width: 558px;
}

.newsletter-text {
  margin: 0;
  margin-bottom: 42px;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 1fr 152px;
  gap: 18px;
}

.field {
  color: #B9B9B9;
  padding: 14px 16px;
  font-size: inherit;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
  background: #FFFFFF;
}

.form-wrapper {
  border-radius: 8px;
  background-color: #FCFCFC;
  width: 500px;
}

.contacts-user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("../images/ice-cream-and-fruits.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
  gap: 42px;
  padding: 64px;
  padding-left: 100px;
  margin-bottom: 80px;
}

.contacts-user-content {
  display: grid;
  padding-left: 36px;
  align-content: center;
}

.delivery-form {
  grid-template-columns: 117px 287px;
  margin: 0;
  padding: 40px;
  display: grid;
  gap: 32px 16px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.contacts-user-title {
  color: #2D3440;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  margin-bottom: 24px;
}

.contacts-user-text {
  color: #565C66;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 371px;
}

.form-description {
  grid-column: 1 / -1;
  color: #565C66
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 700;
  gap: 8px;
}

.form-group.form-group-full {
  grid-column: 1 / -1;
}

.form-button {
  grid-column: 1 / -1;
  justify-self: center
}

.contacts {
  background-image: url("../images/ice-cream-with-wafel-rolls.jpg");
  padding: 64px 763px 64px 64px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-wrapper {
  background-color: #FCFCFC;
  width: 253px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
}

.contacts-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #2D3440;
}

.contacts-link {
  color: #2D3440;
  text-decoration: none;
}

.note {
  font-size: 14px;
  color: #565C66;
}

.contacts-item {
  border-radius: 8px;
  background-color: #FCFCFC;
}

.page-footer {
  padding: 48px 98px;
}

.page-footer-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.social {
  margin-right: 259px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  padding: 0;
  gap: 8px;
}

.link-list-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer-link {
  margin-left: auto;
  max-width: 193px;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.header-inner {
  margin-top: 0;
  margin-bottom: 40px;
}

.header-inner-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.breadcrumbs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 700;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  background-image: url("../images/arrow/right-2.svg");
  height: 12px;
  width: 12px;
  margin-left: 8px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-page {
  text-decoration: underline;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 46px;
}

.catalog-filter-group {
  align-self: flex-end;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin: 0 16px 8px;
}

.select-control {
  border: none;
  color: inherit;
  font: inherit;
  appearance: none;
}

.control {
  display: flex;
  gap: 8px;
}

.control-input {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  margin: 0;
}

.control-input[type="checkbox"] {
  -webkit-mask-image: url("../images/control/checkbox.svg");
  mask-image: url("../images/control/checkbox.svg");
}

.control-input[type="checkbox"]:checked {
  -webkit-mask-image: url("../images/control/checkbox-checked.svg");
  mask-image: url("../images/control/checkbox-checked.svg");
}

.control-input[type="radio"] {
  -webkit-mask-image: url("../images/control/radio.svg");
  mask-image: url("../images/control/radio.svg");
}

.control-input[type="radio"]:checked {
  -webkit-mask-image: url("../images/control/radio-checked.svg");
  mask-image: url("../images/control/radio-checked.svg");
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 9px 24px;
  margin: 0;
  gap: 24px;
  align-items: center;
  background: rgba(252, 252, 252, 0.30);
  border-radius: 18px;
}

.catalog-filter-button {
  align-self: flex-end;
}

.pagination-show-more {
  font-size: 16px;
  font-weight: 700;
  border-radius: 26px;
  padding: 12px 32px;
}

.pagination-container {
  align-items: center;
  display: flex;
  padding: 40px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.pagination-link {
  display: block;
  padding: 2px 8px;
  box-sizing: border-box;
  text-decoration: none;
  color: #2D3440;
  width: 24px;
  height: 24px;
}

.pagination-prev {
  position: relative;
  background-image: url("../images/arrow/left.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  top: 2px;
}

.pagination-next {
  position: relative;
  background-image: url("../images/arrow/right.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  top: 2px;
}

.pagination-link:focus {
  background-color: #FCFCFC;
  border-radius: 76px;
  width: 24px;
  height: 24px;
  align-items: center;
  padding: 2px 8px;
}

.pagination-link:hover {
  width: 24px;
  height: 24px;
  padding: 2px 8px;
  background: rgba(252, 252, 252, 0.50);
  border-radius: 50px;
}

.button {
  font-family: "inter";
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 32px;
  line-height: 20px;
  text-decoration: none;
  border-radius: 26px;
  border: 4px solid #feafc3a1;
  background: #FCFCFC;
  color: #2D3440;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  border: 4px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.40);
}

.button:focus {
  border: 2px solid #2D3440;
  background: rgba(252, 252, 252, 0.50);
}

.button-important {
  box-sizing: border-box;
  background-color: #FF2F64;
  color: #FCFCFC;
}

.button-important:hover {
  border: 4px solid #FF2F64;
  background: rgba(252, 252, 252, 0.30);
  color: #2D3440;
}

.button-important:focus {
  border: 2px solid #2D3440;
  background: #FEAFC3;
}

.button-secondary {
  font-size: 14px;
  padding: 8px 38px;
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.30);
}
